<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signing up</title>
</head>
<body>
<form action="/user/add" method="post">
    <div>
        <label>ID</label>
        <input name="userId" id="user-id" type="text" value="">
    </div>
    <div>
        <label>PASSWORD</label>
        <input name="password" id="password" type="text" value="">
    </div>
    <div>
        <label>PASSWORD CHECK</label>
        <input name="passwordCheck" id="password-check" type="text" value="">
    </div>
    <div>
        <label>EMAIL</label>
        <input name="email" id="email" type="text" value="">
    </div>
    <div>
        <label>NAME</label>
        <input name="userName" id="user-name" type="text" value="">
    </div>
    <div>
        <input type="submit" name="submit" value="complete"/>
    </div>
</form>
</body>
</html>